$secondary-subscribers-color: #17a2f3;
$main-subscribers-color: #f1f3f7;
$subscribers-text-color: #8f9ca7;
$diagram-color-1: #e2e9ee;
$diagram-color-2: #abb9c3;
$diagram-color-3: #657887;
$diagram-color-4: #242932;
$diagram-color-5: #e2e9ee;
$diagram-color-6: #eb0a66;