$menu-color: #383E4C;
$menu-border-link-color: #646d7c;
$menu-hover-link-color: #49505F;

$about-bg-color: #F2F2F2;
$about-caption-1st: #178A27;
$about-caption-2st: #1686C1;
$about-caption-3st: #666;

$about-btn-3st: #852406;

$about-btn-hover-1st: #449D44;
$about-btn-hover-2st: #31B0D5;
$about-btn-hover-3st: #C9302C;

$form-main-color: rgba(242, 242, 242, 0.4);