$overlay-btn-color: #2898df;
$overlay-text-color: #545454;
$table-bg-color: #212121;
$table-border-color: #252525;
$table-text-color: #767676;
$table-link-color: #2582c7;
$table-input-fully: #323232;
$table-input-border: #373737;
$table-dropdown-border-btn: #383838;
$table-activity-color: #0055a4;
$table-subs-color: #ae333a;
$check-icon-color: #86b746;